USE [master]
GO
/****** Object:  Database [CuaHangBanhNgot]    Script Date: 10/15/2025 2:54:48 PM ******/
CREATE DATABASE [CuaHangBanhNgot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuaHangBanhNgot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\CuaHangBanhNgot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuaHangBanhNgot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\CuaHangBanhNgot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHangBanhNgot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHangBanhNgot]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/15/2025 2:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 10/15/2025 2:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/15/2025 2:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](10) NOT NULL,
	[NgayLap] [date] NULL,
	[MaKH] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/15/2025 2:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [varchar](100) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 10/15/2025 2:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/15/2025 2:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[MatKhau] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/15/2025 2:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[DonGia] [decimal](18, 2) NULL,
	[SoLuong] [int] NULL,
	[MaNCC] [varchar](10) NULL,
	[Anh] [nvarchar](100) NULL,
	[DanhGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([MaAdmin], [HoTen], [Email], [MatKhau], [TenDangNhap]) VALUES (1, N'Lâm Đức Tài', N'lamductai26@gmail.com', N'123456', NULL)
INSERT [dbo].[Admin] ([MaAdmin], [HoTen], [Email], [MatKhau], [TenDangNhap]) VALUES (2, N'Trần Thanh Tùng', N'tranthanhtung12bh@gmail.com', N'456789', NULL)
INSERT [dbo].[Admin] ([MaAdmin], [HoTen], [Email], [MatKhau], [TenDangNhap]) VALUES (3, N'Bùi Lê Quốc Hùng', N'builequochung36@gmail.com', N'363636', NULL)
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'37b93eb9ce', N'1', 3, CAST(120000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'7dbc1c96eb', N'3', 3, CAST(18000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'976a94a503', N'1', 1, CAST(120000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaKH], [MaNV], [TrangThai]) VALUES (N'37b93eb9ce', CAST(N'2025-10-15' AS Date), N'KH05', N'NV02', N'Đã giao')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaKH], [MaNV], [TrangThai]) VALUES (N'7dbc1c96eb', CAST(N'2025-10-14' AS Date), N'KH05', N'NV01', N'Đã giao')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaKH], [MaNV], [TrangThai]) VALUES (N'976a94a503', CAST(N'2025-10-14' AS Date), N'KH04', N'NV02', N'Đang giao')
GO
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiaChi], [Email], [MatKhau], [Role]) VALUES (N'KH01', N'Nguyễn Thanh Tài', N'0912345678', N'Hà Nội', N'vana@example.com', N'123456', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiaChi], [Email], [MatKhau], [Role]) VALUES (N'KH02', N'Bùi Lê Quốc Hùng', N'0987654321', N'Hồ Chí Minh', N'thib@example.com', N'123456', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [DiaChi], [Email], [MatKhau], [Role]) VALUES (N'KH03', N'Lê Văn C', N'0909123456', N'Đà Nẵng', N'vanc@example.com', N'123456', NULL)
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [Email], [DiaChi]) VALUES (N'NCC01', N'Công ty Bánh Ngọt Việt', N'0241234567', N'info@banhngotviet.com', N'Hà Nội')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDT], [Email], [DiaChi]) VALUES (N'NCC02', N'Nhà máy Bánh Kem Sài Gòn', N'0289876543', N'contact@banhkemsg.com', N'Hồ Chí Minh')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [SDT], [MatKhau]) VALUES (N'NV01', N'Nguyễn Văn Quản', N'Quản lý', N'0901112233', N'123456')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [SDT], [MatKhau]) VALUES (N'NV02', N'Trần Văn Bán', N'Nhân viên bán hàng', N'0902223344', N'abc123')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [SDT], [MatKhau]) VALUES (N'NV03', N'Lê Thị Thu', N'Thu ngân', N'0903334455', N'thu321')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [SoLuong], [MaNCC], [Anh], [DanhGia]) VALUES (N'1', N'Bánh sinh nhật', CAST(120000.00 AS Decimal(18, 2)), 10, N'NCC01', N'banh1.png', NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [SoLuong], [MaNCC], [Anh], [DanhGia]) VALUES (N'10', N'Bánh su kem matcha', CAST(20000.00 AS Decimal(18, 2)), 22, N'NCC01', N'banh7.png', NULL)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [SoLuong], [MaNCC], [Anh], [DanhGia]) VALUES (N'11', N'Bánh mousse xoài', CAST(32000.00 AS Decimal(18, 2)), 14, N'NCC01', N'banh9.png', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__A9D10534B02FF41F]    Script Date: 10/15/2025 2:54:48 PM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (N'User') FOR [Role]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
USE [master]
GO
